Repository fpga-open-speech-tools/max10_projects: changes, and which Jenkins stages are due for each by the changed paths.
All: BME280, Mic_Encoder_Decoder

BME280:
                      steps {
                          build job: 'Q18P0_MAX10_BME280', parameters: [string(name: 'GIT_BRANCH', value: BRANCH_NAME), string(name: 'PROJECT', value: 'CPLD_BME280_I2C'), string(name: 'DIRECTORY', value: 'CPLD_BME280_I2C')]
                      }
                  

Mic_Encoder_Decoder:
                      steps {
                          build job: 'Q18P0_MAX10_BME280', parameters: [string(name: 'GIT_BRANCH', value: BRANCH_NAME), string(name: 'PROJECT', value: 'Max10_System'), string(name: 'DIRECTORY', value: 'CPLD_Microphone_Array')]
                      }
                  

Removed cx_system and made minor changes
  CPLD_BME280_I2C/CPLD_BME280_I2C.qsf
  CPLD_BME280_I2C/cx_system.sopcinfo
  CPLD_BME280_I2C/cx_system/cx_system.bsf
  CPLD_BME280_I2C/cx_system/cx_system.cmp
  CPLD_BME280_I2C/cx_system/cx_system.html
  CPLD_BME280_I2C/cx_system/cx_system.xml
  CPLD_BME280_I2C/cx_system/cx_system_bb.v
  CPLD_BME280_I2C/cx_system/cx_system_generation.rpt
  CPLD_BME280_I2C/cx_system/cx_system_generation_previous.rpt
  CPLD_BME280_I2C/cx_system/cx_system_inst.v
  CPLD_BME280_I2C/cx_system/cx_system_inst.vhd
  CPLD_BME280_I2C/cx_system/synthesis/cx_system.debuginfo
  CPLD_BME280_I2C/cx_system/synthesis/cx_system.qip
  CPLD_BME280_I2C/cx_system/synthesis/cx_system.vhd
  CPLD_BME280_I2C/cx_system/synthesis/submodules/FE_CPLD_BME280_Compensate_Data.vhd
  CPLD_BME280_I2C/cx_system/synthesis/submodules/FE_CPLD_BME280_I2C_Reader.vhd
  CPLD_BME280_I2C/cx_system/synthesis/submodules/altera_reset_controller.sdc
  CPLD_BME280_I2C/cx_system/synthesis/submodules/altera_reset_controller.v
  CPLD_BME280_I2C/cx_system/synthesis/submodules/altera_reset_synchronizer.v
  CPLD_BME280_I2C/cx_system/synthesis/submodules/cx_system_altpll_0.v
  CPLD_BME280_I2C/cx_system/synthesis/submodules/i2c_pkg.vhd
  CPLD_Microphone_Array/MAX10_System.qsf
Due: BME280, Mic_Encoder_Decoder

With steps
  Jenkinsfile
Due: none

testing
  Jenkinsfile
Due: none

Initial Jenkinsfile
  Jenkinsfile
Due: none

Test PR build
  CPLD_BME280_I2C/test.txt
Due: BME280

testing
  CPLD_BME280_I2C/test.txt
Due: BME280

testing
  CPLD_BME280_I2C/test.txt
  Jenkinsfile
Due: BME280

Adding files to test PR build
  CPLD_BME280_I2C/test.txt
  CPLD_Microphone_Array/test.txt
Due: BME280, Mic_Encoder_Decoder

Limiting it to Windows_Node2
  Jenkinsfile
Due: none

test
  Jenkinsfile
Due: none

Hopefully works
  CPLD_BME280_I2C/test.txt
  Jenkinsfile
Due: BME280

testing
  CPLD_Microphone_Array/test.txt
  Jenkinsfile
Due: Mic_Encoder_Decoder

Jenkinsfile complete, Mic_Array and BME280 projects are automatically built in Jenkins when they have been changed
  CPLD_BME280_I2C/test.txt
  CPLD_Microphone_Array/test.txt
  Jenkinsfile
Due: BME280, Mic_Encoder_Decoder

Update parallel location
  Jenkinsfile
Due: none

Added stage
  Jenkinsfile
Due: none

without new stage
  Jenkinsfile
Due: none

testing2
  Jenkinsfile
Due: none

build_test
  CPLD_BME280_I2C/test.txt
Due: BME280

Removed test text files and added a comment
  CPLD_BME280_I2C/test.txt
  CPLD_Microphone_Array/test.txt
  Jenkinsfile
Due: BME280, Mic_Encoder_Decoder

Path conditions:
  BME280: any of: CPLD_BME280_I2C/*
  Mic_Encoder_Decoder: any of: CPLD_Microphone_Array/*
